* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/*Body*/

canvas{
    border: 1px solid;
}