*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: .5em;
    text-align: center;
    background: url('background.png');
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.text{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}
h1{
    font-weight: bolder;
    color: white;
    font-style: oblique;
}
h2{
    font-weight: 200;
    color:white;
    text-decoration: underline;
}
.timeLeft{
    margin: 40px 0;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 6em;
    padding: 0 40px
}