* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
}

nav>h1 {
    padding: 20px;
    display: block;
    text-align: center;
    margin: auto 0
}

header {
    width: 100%;
    background-image: url(BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 50vh);
    display: table;
    transition: 2s;
}

.headerText {
    transition: 1s;
    padding: 30px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 2px 2px 8px black;
}

.container-subtext {
    transition: 3s;
    height: 80px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    
}

.artcile {
    margin: 5px 5px;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.artcile>img {
    z-index: -10;
    width: 100%;
}

.artcile p {
    z-index: 2;
    position: absolute;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}

.reddish {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 202, 202, 0.9   );
}

a {
    z-index: 2;
    position: absolute;
    bottom: 15%;
    color:white;
    width: 50%;
    text-align: center;
    background: #FF7D7D;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 1.2em; 
    transition: .2s;

}
a:hover{
    background: rgb(221, 80, 80);
    transition: .2s;
}
footer{
    text-align: center;
}
@media only screen and (min-width: 1000px){
    nav>h1 {
        float: left;
    }
    .wrapper{
        padding: 0 120px;
    }
    .artcile{
        width: 49%;
    }
    .articleContainer{
        display: flex;
        flex-grow: 1;
        flex-basis: 300px;
        flex-wrap: wrap;

    }
    .headerText{
        font-size: 2em; 
        padding: 0 25%;    
    }
}   