* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #0F1016;
}

.container {
    background: url('Star.png');
    flex-direction: column;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

.SpaceShip {
    position: relative;
    z-index: 1;
    top: -160px;
    left: 110px;
    transform: rotate(45deg);
    width: 8em;
    animation: space 3s ease-in-out infinite;
}

h1 {
    z-index: 0;
    font-size: 16em;
    font-weight: 900;
    margin: 0;
}

p {
    margin: 0;
    font-weight: 900;
    color: #D3B2BB;
}

.bg {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}

h2 {
    font-size: 4 em;
    animation: Kevin 2s ease-in-out infinite;
}

@keyframes space {
    0%,
    100% {
        top: -160px;
    }
    50% {
        top: -200px;
    }
}

@keyframes Kevin {
    0%,
    100% {
        opacity: 1
    }
    50% {
        opacity: 0;
    }
}