* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    overflow: hidden;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
/*Body*/
#questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.circle{
    z-index: -10;
    position: absolute;
    top: -175px;
    left: -175px;
    height: 350px;
    width: 350px;
    background: #A7E4FF;
    border-radius: 100%;
}
h1{
    font-weight: normal;
    font-size: 24px;
    margin: 87px 32px 56px 32px;
}

.voteContainer{
    display: flex;
    align-items: center;
    width: 305px;
    height: 80px;
    border: 2px #707070 solid;
    margin: 20px 0;
}
.vote{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    background:#B7FFB9;
    height: 100%;
}
.vote h2{
    color: #707070;
    padding: 0 21px;
    display: block;
}

.skill-2::-webkit-progress-value {
    background: #4ecdc4;
  }
  
  .skill-2::-moz-progress-bar {
    background: #4ecdc4;
  }
  
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    bottom: 0;
    height: 65px;
    background: #58FFA1;
    width: 100%;
}
footer h2{
    color: white;
}

/* popUp */

.pop{
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 353px;
    height: 199px;
    background: white;
    border-radius: 40px;
}
.pop h2{
    padding: 58px 26px 0 26px;
}
.pop button{
    float: left;
    background: transparent;
    width: 176px;
    height: 96px;
}
