*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 800px;
    background: black;
    border-radius: 20px;
}

span {
    margin: 20px 0px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: red;
    animation: red 8s infinite  ;
}

span:nth-child(2) {       
    background: orange;
    animation: orange 8s infinite;

}

span:nth-child(3) {
        background: green;
        animation: green 8s infinite;

}

@keyframes red{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes orange{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes green{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    55%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}