* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background: #2980b9;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/*Body*/

.bubble {
    position: absolute;
    height: 50px;
    left: 10px;
    width: 50px;
    background: white;
    opacity: .3;
    border-radius: 100%;
    animation: bubblee 2s ease-out infinite;
    bottom: -50px;
}

.bubble:nth-child(1){
    height: 25px;
    width: 25px;
    left: 500px;
    animation-delay: .5s;
}
.bubble:nth-child(2){
    height: 55px;
    width: 55px;
    left: 200px;
    animation-delay: .7s;
}
.bubble:nth-child(3){
    height: 50px;
    width: 50px;
    left: 300px;
    animation-delay: 1.2s;
}

.bubble:nth-child(4){
    height: 25px;
    width: 25px;
    left: 700px;
    animation-delay: 1.5s;
}
.bubble:nth-child(5){
    height: 55px;
    width: 55px;
    left: 900px;
    animation-delay: 1.7s;
}
.bubble:nth-child(6){
    height: 50px;
    width: 50px;
    left: 1200px;
    animation-delay: 2.2s;
}
.bubble:nth-child(7){
    height: 50px;
    width: 50px;
    left: 1400px;
    animation-delay: 0.2s;
}
.bubble:nth-child(8){
    height: 30px;
    width: 30px;
    left: 1800px;
    animation-delay: 1.5s;
}
@keyframes bubblee {
    0% {
        transform: translate(0);
        bottom: -50px;
    }
    50%{
        transform: translateX(100px);
    }
    100% {
        transform: translate(0);
        bottom: 1000px 
    }
}